.aboutme-wrap {
  padding: 1rem;
  margin-bottom: 2rem;
  p {
    color: var(--slate400);
    margin-bottom: 1rem;
    strong {
      color: var(--orange);
    }
  }
}

.h2-title {
  color: var(--slate300);
  span {
    color: var(--primarily);
  }
}

//s
@media (min-width: 500px) {
  .aboutme-wrap {
    p {
      max-width: 55rem;
    }
  }
}
