.projects-wrap {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .project {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    transition: all .5s ease-in-out;
    cursor: pointer;

    .logo {
      position: absolute;
      right: 50%;
      svg {
        width: 1.5rem;
        color: var(--slate300);
        margin-inline: .5rem;
      }
    }
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid var(--primarily);
      border-radius: 5px;
      transform: translate(15px, 10px);
      z-index: -1;
      transition: all .5s ease-in-out;
    }

    &:hover {
      &::before {
        transform: translate(15px, 20px);
        border: 2px solid var(--primarily);
      }
      transform: translateY(-5px);
    }

    
    img {
      width: 20rem;
      border-radius: 5px;
    }
  }
}