@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Kdam+Thmor+Pro&display=swap');

:root {
    // font-family
    --font-mono: 'Roboto Mono', monospace, sans-serif;
    --font-system: system-ui, sans-serif;
    --font-khmer: "Freehand", cursive, sans-serif;

    // Color 
    --slate50: #f8fafc;
    --slate300: #cbd5e1;
    --slate400: #94a3b8;
    --slate800: #1e293b;
    --slate900: #0f172a;
    --slate900-ligter: #17233f;
    --primarily: #10b981;
    --indigo950: #1e1b4b;
    --orange: #fde68a;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--slate900);
    font-family: var(--font-system);
    color: var(--slate50); 
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5rem;
}

// .home-container {
//     // padding: 1rem;
// }


::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--slate800);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #495670; 
}
